{% extends 'base.html' %}
{% block content %}
<header class="container banner">
    {% if profile.is_partner == True %}
        <h1 class="no-margin">{{ partner.company_name }}</h1>
        <P>Edit your profile</P>
    {% else %}
        <h1 class="no-margin">{{ profile.username }}</h1>
        <P>Edit your profile</P>
    {% endif %}
</header>
<div class="container">
    <form action="" method="POST" class="form col s10 m8">
    {% csrf_token %}
    {% for field in profile_form %}
        <div class="input-wrapper">
            <label for="form-input" class="form-input">{{ field.label }}</label>
            {{ field }}
        </div>
    {% endfor %}
    {% if profile.is_partner == True %}
        {% for field in profile_partner_form %}
            <div class="input-wrapper">
                <label for="form-input" class="form-input">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
    {% endif %}
    <button type="submit" class="btn btn-sm">Edit</button>
    </form>
</div>
{% endblock %}