{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner_content %}
<div class="col m6 verification-sent hide-in-med-and-down">       
</div>
<div class="allauth-wrapper">
    <div class="col s12 m6 allauth-form">
        <h3 class="">{% trans "Verify Your E-mail Address" %}</h3>
    
        <p class="">{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process.{% endblocktrans %}</p>
    </div>
</div>

{% endblock %}
