{% extends 'base.html' %}
{% block content %}
<header class="container banner partner-banner">
    <h1 class="no-margin">{{ partner.company_name }}</h1>
    <P>{{ partner.company_short_bio }}</P>
    {% if request.user %}
        {% if request.user.profile.id == partner.partner_id %}
            <div class="flex flex-end">
                <a href="{% url 'product-list' partner.id %}" class="btn margin-right">Product List</a>
                <a href="{% url 'edit-profile' partner.partner_id %}" class="btn">Edit profile</a>
            </div>
        {% endif %}
    {% endif %}
</header>
<section class="container">
    <div class="row">
        <div class="center col s12 m10 offset-m1 no-padding">
            <div class="image-container col s12 m5 no-padding">
                <img style="width:600px" src="{{ partner.company_image.url }}" alt="">
            </div>
            <div class="col s12 m7">
                <div class="flex-wrapper column left-align">
                    <h3>About</h3>
                    <P>{{ partner.company_description }}</P>
                    <p>
                        See all of our products 
                        <a href="{% url 'partner-products' partner.id %}" class="underline hover-highlight">here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6 offset-s3 text-center margin-">            
                <h3>Website</h3>
                <a href="{{ partner.company_website }}">
                    <P>{{ partner.company_website }}</P>
                </a>
                <ul class="partner-social">
                    {% if partner.social_twitter %}
                    <li>
                        <a title="Twitter" href="{{partner.social_twitter}}" target="_blank"><i
                                class="fab fa-twitter"></i></a>
                    </li>
                    {% endif %}
        
                    {% if partner.social_linkedin %}
                    <li>
                        <a title="LinkedIn" href="{{partner.social_linkedin}}" target="_blank"><i
                                class="fab fa-linkedin"></i></a>
                    </li>
                    {% endif %}
        
                    {% if partner.social_youtube %}
                    <li>
                        <a title="LinkedIn" href="{{partner.social_youtube}}" target="_blank"><i
                                class="fab fa-youtube"></i></a>
                    </li>
                    {% endif %}
                </ul>
        </div>
    </div>

</section>

{% endblock %}