{% extends 'base.html' %}
{% load mathfilters %}
{% block content %}
{% include 'includes/popup.html' %}
<header class="container product-banner">
    <h3>Cart</h3>

</header>
<section class="container form">
    <div class="row cart-mobile no-margin">
        {% if product_count %}
            <div class="col s9 m7 xl8 card cart">
                <div class="flex-wrapper cart-header">
                    <h3 class="cart-heading bold">Joseph's cart</h3>
                    <a href="{% url 'checkout' %}" class="btn">checkout</a>
                </div>
                <hr>
                {% for item in cart_items %}
                    {% if item.quantity > 0 %}
                        <div class="row padding">
                            <div class="image-container col s12 m3">
                                <a href="{% url 'view-product' item.product.id %}">
                                <img height="150" src="{{ item.product.image.url }}" alt="">
                                </a>
                            </div>
                            <div class="col s10 offset-s1 m9">
                                <div class="item-price">
                                    <h3 class="no-margin small-text bold">£{{ item.product.price }}</h3>
                                    <a href="{% url 'delete-cart-item' item.product.id %}"><i class="fas fa-times "></i></a>
                                </div>
                                <div class="item-details">
                                    <p class="no-margin">
                                            <a href="{% url 'view-product' item.product.id %}">
                                            {{ item.product.name }}
                                        </a>
                                        </p>
                                </div>
                                <div class="item-quantity">
                                    <form method="POST" action="{% url 'update-cart' item.product.id %}">
                                        {% csrf_token %}
                                        <div class="row">
                                            <button class="btn-hide product-quantity" id="cart-minus"><i class="fas fa-minus small-icon"></i></button>
                                            <input class="number-input" id="product-amount" name="cart-amount" type="number" value="{{ item.quantity }}" min="0" max="{{ item.product.stock_numbers|add:item.quantity }}">
                                            <button class="btn-hide product-quantity" id="cart-plus"><i class="fas fa-plus small-icon"></i></button>
                                            <button type="submit" class="btn" data-product_id="{{ item.product.id }}" id="updateBtn">Update</button>
                                        </div>
                                        <p id="amount-alert" class="hidden no-margin">Only {{ item.product.stock_numbers|add:item.quantity }} in stock</p>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}" id="hiddenUrl" class="hidden">
                                    </form>
                                </div>
                                <div class="item-save">
                                        <i class="far fa-heart" id="heart"></i>
                                        <input type="checkbox" class="hidden" data-product_id="{{ item.product.id }}" name="saveForLater" id="saveForLater" unchecked>
                                        <p>Save for later</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                    {% endif %}
                {% endfor %}
                <div class="checkout-items hide-on-small-only">
                    <h3 class="bold">Sub-total</h3>
                    <h3>£{{ total }}</h3>
                </div>
            </div>
            <div class="flex-wrapper card column checkout-card padding">
                <h3 class="full-width no-margin bold">Total</h3>
                <hr>
                <div class="flex-wrapper column full-width">
                    <div class="checkout-items">
                        <h3 class="bold">Sub-total</h3>
                        <h3 class="">£{{ total }}</h3>
                    </div>
                    <div class="checkout-items">
                        {% if total >= free_delivery_threshold %}
                            <h3 class="no-margin highlight bold">Free delivery</h3>
                        {% else %}
                            <h3 class="no-margin">Spend <strong>£{{ free_delivery_threshold|sub:total }}</strong> more and get free delivery</h3>
                        {% endif %}
                    </div>
                </div>
                <hr>
                <a href="{% url 'checkout' %}" class="btn">checkout</a>
            </div>
        {% else %}
            <h1>Cart</h1>
            <hr>
            <h3>Your cart is empty.</h3>
            <a href="{% url 'home' %}" class="btn">Back Home</a>
        {% endif %}
    </div>
</section>
<script>
    // Function to catch any late update to the cart due to slow internet connection 
    window.onload = () => {
        if(!window.location.hash) {
          window.location = window.location + '#cart';
          setTimeout(() => {
              window.location.reload();
          }, 1500);
        }
      }

</script>
{% endblock %}