{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="container product-banner">
    <h1>About Us</h1>
</header>
<section class="container about">
    <h3>Who we are</h3>
    <hr>
    <h3 class="about-header">What is Mixed Origins?</h3>
    <p>
        Mixed Origins is a lifestyle and shopping platform giving people of colour and mixed heritage an easy way to find products designed for them.  <br>
        From branded products like skin care, literature and art, to lifestyle content, podcasts and advice articles for the whole family, we want Mixed Origins to be a place the mixed heritage community can trust and rely on. <br>
        We are for anyone with a blend of melanin, cultures or heritage in their unique make-up. <br>
    </p>
</section>
<section class="highlight margin-top padding-top padding-bottom">
    <div class="container">
        <div class="row about-content-block">
            <div class="col s12 m7 about-content">
                <p>
                    <h3 class="about-header">What Mixed Origins Means to Chanel, Co-founder and mother of 3 mixed children</h3>
                    When our daughter Mia was  around 20 months old , she had a sudden growth spurt on her head - a beautiful brown afro of frizzy ringlets. We hadn’t been doing much with her hair before then, and with 2 boys before her my husband and I quickly realised we didn’t know what to do with her hair. Between countless YouTube videos and rows of products in our local hair shop promising all kinds of results, we were a bit lost. Topics and products specific to people of mixed heritage or colour were just not covered in mainstream or popular lifestyle brands. We had to do a lot of research which felt odd given how common mixed heritage families are. Why aren’t there more lifestyle sites for families of colour? This experience is what inspired Mixed Origins - a desire to create, normalise and promote brands and content by and for people of colour.
                </p>
            </div>
            <div class="col s12 m4 about-image">
                <div class="image-container">
                    <img src="../../../static/img/chanel.png" alt="" height="400">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gold margin-top">
    <div class="container">
        <div class="row about-content-block">
            <div class="col s12 m4 about-image">
                <div class="image-container">
                    <img src="../../../static/img/joe.jpg" alt="" height="400">
                </div>
            </div>
            <div class="col s12 m7 about-content">
                <h3 class="about-header">What Mixed Origins means to Joseph, Co-founder and father of 3 mixed children
                </h3>
                <p>
                    I have always considered myself as someone who is aware of racial injustice and who makes a point to educate myself instead of relying on assumptions. But, becoming a father of mixed children I have often felt clueless as a white man trying to understand  what it is like, or will be like for my children as people from  a BAME background in the Western world.  Hearing and seeing the experiences that people of colour deal with daily - almost by proxy - from my wife and friends, just reminds me of how unprepared I still feel. From something as “simple” as trying to help with my daughters hair, to something more serious like not knowing my children would need to supplement their Vitamin D intake. ,  These feelings of cluelessness about my own children’s needs and me wanting to do the best for them has led me to try and level up my understanding. Having to find information all over the internet, I thought about how I can help other parents in my situation. 
                    <br>            
                    What we really needed was one place to find what would be right for our mixed family. Be it products for our daughter’s curls, and books where our boys would see characters that look like them to balanced health and lifestyle content relevant to our family. I found it odd that despite our family’s mixed heritage being fairly commom, it is still massively underrepresented. You really have to search and know where to look for information, compared to how accessible and frequently a  and evenrace curls. We wanted access to hair care products  for Mia, but we also wanted to find other family friendly items that worked for our whole family. From children's books with brown characters and textiles designed by people of colour to skin care products suited to our multicultural family.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}