{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="container banner">
    <h1>About Us</h1>
</header>
<section class="container form">
    <h3>Who we are</h3>
    <hr>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus quisquam, ut nulla quas id aliquid illo nisi modi, possimus dolor eos doloribus doloremque! Voluptates debitis aut, nisi sit suscipit aperiam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni numquam ad aspernatur aut dolorum odit distinctio deserunt modi eaque eius vitae facilis quos, illum, atque ullam. Vel dicta molestias delectus.
    </p>
</section>
{% endblock %}