{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="container hero">
</header>
<section class="container">
<div class="about-card">
    <div class="about-text">
        <h5 class="logo">Mixed Origins</h5>
        <h2 class="heading">Who We Are</h2>
        <p>At Mixed Origins we want to give people and families of colour easy access to products and content created for them. From haircare and literature to podcasts and blogs, we will create a unique home for a diversity of brands and  content creators with an authentic connection to the black and mixed community.</p>
        <a href="{% url 'about' %}" class="btn waves-effect about-btn">About Us</a>
    </div>
    <div class="about-links hide-on-med-and-down">
        <div class="info-link no-left-border">
            <div class="info-icon">
                <i class="fas fa-info fa-border"></i>
            </div>
            <div class="info-text">
                <h5 class="no-margin">
                    Free Delivery
                </h5>
                <p class="no-margin">
                    Free delivery for orders over £{{ free_delivery_threshold }} {{ tags }}
                </p>
            </div>
        </div>
        <div class="info-link">
            <div class="info-icon">
                <i class="fas fa-info fa-border"></i>
            </div>
            <div class="info-text">
                <h5 class="no-margin">
                    Gift Cards
                </h5>
                <p class="no-margin">
                    The perfect gift.
                </p>
            </div>
        </div>
        <div class="info-link no-right-border">
            <div class="info-icon">
                <i class="fas fa-info fa-border"></i>
            </div>
            <div class="info-text">
                <h5 class="no-margin">
                    Direct Support
                </h5>
                <p class="no-margin">
                    Communicate directly with suppliers
                </p>
            </div>
        </div>
    </div>
</div>
</section>
<section class="container">
    <div class="trending">
        <div class="trending-highlight col s12 m7">
            <div class="promoted-card">
                <div class="row">
                    <div class="col s12 m6 no-padding">
                        <a href="{% url 'product_tags' 'literature' %}" aria-label="Link to go to see the hottest products">
                        <div class="promoted-image">
                        </div>
                        </a>
                    </div>
                    <div class="card-stacked col s12 m6">
                        <h3 class="header" style="color: #5f5f5f;">Trending this week</h3>
                        <div class="card-content">
                            <h4 class="no-margin">Literature</h4>
                        </div>
                        <div class="card-action text-left">
                            <p>Check out the most popular books on black culture</p>
                            <a href="{% url 'product_tags' 'literature' %}" aria-label="Link to go to see the hottest products">See the hottest collection.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="trending-highlight col s12 m7">
            <div class="promoted-card">
                <div class="row">
                    <div class="col s12 m6 no-padding">
                        <div class="image-container">
                            <a href="{% url 'partner-profile' promoted_partner.id %}" aria-label="Link to go to the partner page">
                                <img width="300" src="{{ promoted_partner.company_image.url }}" alt="Image for {{ promoted_partner.company_name }}">
                            </a>
                        </div>
                    </div>
                    <div class="card-stacked col s12 m6">
                        <a href="{% url 'partner-profile' promoted_partner.id %}" aria-label="Link to go to the partner page">
                            <h3 class="header" style="color: #5f5f5f;">{{ promoted_partner.company_name }}</h3>
                        </a>
                        <div class="card-content">
                            <p>{{ promoted_partner.company_short_bio }}</p>
                        </div>
                        <div class="card-action">
                            <a href="{% url 'partner-profile' promoted_partner.id %}" aria-label="Link to go to the partner page">more..</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="featured-products">
    <div class="container">
        <div class="row">
            <div class="col s8 offset-s2 m6 offset-m3 text-center">
                <h3 class="heading">Popular Products</h3>
                </div> 
        </div>
        <div class="row margin-top">
        {% for product in products %}
            <div class="col s10 offset-s1 m6 l4 xl3">
                <a href="{% url 'view-product' product.slug %}" aria-label="Link to go to the {{ product.name }} page">
                    <div class="card no-shadow">
                        <div class="card-image">
                            <img src="{{ product.image.url }}.webp" alt="Thumbnail image for {{ product.name }}">
                        </div>
                        <div class="card-content">
                            <span class="card-title">{{ product.name|truncatechars:17 }}</span>
                        </div>
                        <div class="card-action">
                            <span class="card-price bold">£ <span>
                                {{ product.price }}
                            </span>
                            </span>
                            <a href="{% url 'view-product' product.slug %}" class="btn" aria-label="Button to view more details on the product">View Product</a>    
                        </div>
                    </div>
                </a>
            </div> 
            {% endfor %}
        </div>
    </div>
    {% include 'includes/pagination.html' %}
</section>
{% endblock %}
