{% extends 'base.html' %}
{% block content %}
{% if not partner_profile.company_name %}
<div class="container" id="message">
    <div class="row message">
        <div class="alert alert-info col s10 offset-s1 m8 offset-m2 no-padding">
            <div class="alert-icon-box info">        
                <i class="fas fa-info" style="font-size: 3rem;"></i>
            </div>
            <div class="alert-message alert-info">
                <p class="alert-message">Please complete your company profile.</p>
            </div>
            <a href="#" class="alert-close"><i class="fas fa-times"></i></a> 
        </div>
    </div>
</div>
{% endif %}
<header class="container banner">
        <h1 class="no-margin">{{ partner_profile.company_name }}</h1>
        <P>Edit your profile</P>
</header>
<section class="container">
    <form action="" method="POST" class="form col s10 m8"  enctype="multipart/form-data">
    {% csrf_token %}
    <img src="{{ profile.profile_image.url }}" alt="" class="form-image">
      <div class="input-wrapper margin-top">
          <label for="form-input" class="form-input">Company image</label>
          <input type="file" name="company_image" accept="image/*" id="id_company_image">
      </div>  
    {% for field in partner_form %}
            {% if field.label == "Company image" %}
            {% else%}
                <div class="input-wrapper">
                    <label for="form-input" class="form-input">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endif %}
    {% endfor %}
    <div class="flex-wrapper">
        <button type="submit" class="btn margin-right">confirm</button>
        <a href="{% url 'delete-profile' partner_profile.id %}" class="btn">delete</a>
    </div>
    </form>
</section>
{% endblock %}