{% extends 'base.html' %}
{% block content %}
<header class="container banner order-banner">
    <h1>Order History</h1>
</header>
<section class="container form">
    {% if not orders %}
    <h3>You have no orders yet</h3>
    <hr>
    <a href="{% url 'products' %}" class="btn">Search our product list</a>
    {% else %}
    <div class="row no-margin">
        <table>
            <thead>
                <tr>
                    <th>Tracking Number</th>
                    <th>Date</th>
                    <th>Order Total</th>
                </tr>        
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>
                        <a href="{% url 'previous_order' order.id %}" class="tooltipped" data-position="top" data-tooltip="{{ order.id }}">
                            {{ order.id|truncatechars:14 }}
                        </a>
                    </td>
                    <td>
                        {{ order.created }}
                    </td>
                    <td>
                        £{{ order.grand_total }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</section>
{% endblock %}