/* /////////////////////////// Global styles and variables ///////////////////// */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

:root{
    --background-color: #f8f8f8;
    --highlight-color: #f73f6f;
    --text-grey: #5f5f5f;
    --text-color: #1e1e1f;
    --border-grey: #e5e6e9;
    --message-error: #b05150;
    --message-success: #47ae74;
    --border: 1px solid var(--border-grey)
}


body {
    background-color: #f8f8f8;
    font-family: 'Poppins', sans-serif;
}


/* /////////////////////////// Navigation bar styling ///////////////////// */

nav {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    background-color: var(--background-color);
    border-bottom: var(--border);
    box-shadow: none;
}

nav a,
nav ul a {
    color: var(--text-grey);
}

nav a:hover,
nav ul a:hover{
    color: var(--highlight-color);
}

nav i {
    margin-right: .5rem;
}

.nav-login{
    border-left: var(--border);
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-logo {
    text-transform: capitalize;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: var(--border);
}

.nav-list {
    text-transform: uppercase;
}


@media only screen and (max-width: 992px) {
    nav {
        justify-content: space-between;
      }

    .nav-logo{
        font-size: 3rem;
        border-right: none;
        font-weight: 100;
    }

}

/* /////////////////////////// Alert Messages ///////////////////// */

.message {
    margin-top: 3rem;
    opacity: 1;
}

.alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.alert-error {
    border: 1px solid var(--message-error);
    color: var(--message-error);
}

.alert-success {
    border: 1px solid var(--message-success);
    color: var(--message-success);
}

.alert-icon-box {
    display: flex;
    width: 10%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: var(--background-color);
}

.alert-message {
    font-size: 1.5rem;
}

.alert-close {
    color: inherit;
    font-size: 1.5rem;
    margin-right: 2rem;
}

.error{
    background-color: var(--message-error);
}

.success {
    background-color: var(--message-success);
}

@media only screen and (min-width: 1333px) {
    
    .alert-message {
        font-size: 1rem;
    }

    .message {
        width: 40%;
    }
}


/* /////////////////////////// Footer ///////////////////// */

.footer {
    display: flex;
    justify-content: center;
}

.footer-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
    border: var(--border);
    padding: 2rem 0 2rem 1rem;
    font-size: .7rem;
}

footer a {
    color: var(--text-color);
}

footer a:hover {
    color: var(--highlight-color);
}

footer li {
    text-transform: uppercase;
    margin-bottom: .3rem;
}

.footer-bar{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--text-color);
    color: var(--background-color);
}

/* /////////////////////////// Helpers ///////////////////// */

.hidden {
    display: none;
}