{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<header class="container product-banner">
    <h3>Checkout</h3>
</header>
<section class="container form">
    <div class="row no-margin">
        <div class="col s9 m7 xl8 card margin-right">
            <div class="flex-wrapper cart-header">
                <h3 class="cart-heading bold">Checkout</h3>
            </div>
                <div class="row">
                    <form action="" method="POST"  class="col s10 offset-s1" id="payment-form">
                        {% csrf_token %}
                        <div class="checkout-items">
                            <h3>
                                Your Details
                            </h3>
                        </div>
                        {{ form|crispy }}
                        <div class="checkout-items">
                            {% if user.is_authenticated %}
                                <label for="id_walletDetails">Save this information to your wallet.

                                    <input type="checkbox" name="walletDetails" id="id_walletDetails" checked>
                                </label>
                            {% else %}
                                <a href="{% url 'account_logout' %}" class="nav-login">Logout</a>
                                <a href="{% url 'account_login' %}" class="nav-login">Login</a>
                            {% endif %}
                        </div>
                        <hr>
                        <div class="checkout-items">
                            <h3>
                                Payment Details
                            </h3>
                        </div>
                        <div class="checkout-items column margin-bottom">
                                <div class="payment-card col s12" id="card-element"></div>
                                <div class="payment-errors col s12" id="card-errors"></div>
                        </div>
                        <div class="checkout-items">
                            <input type="submit" class="btn" value="Order">
                        </div>
                        <div class="checkout-item">
                            <h3 class="small-text">Your card will be debited <span class="bold">£{{ grand_total|floatformat:2 }}</span></h3>
                        </div>
                    </form>
                </div>
            <hr>
        </div>
    </div>
    <div class="flex-wrapper card column checkout-card padding">
        <h3 class="full-width bold">Cart</h3>
        <hr>
        <div class="flex-wrapper column full-width">
            <div class="cart-items column">
                {% for item in cart_items %}
                    <div class="cart-items full-width">
                        <h3 class="bold cart-item-margin"><a href="{% url 'view-product' item.product.id %}">
                            {{ item.product.name }}
                        </a>
                        </h3>
                        <h3 class="item-amount cart-item-margin">X {{ item.quantity }}</h3>
                    </div>
                {% endfor %}
            </div>
            <div class="checkout-items">
                <h3 class="bold">Sub-total</h3>
                <h3 class="">£{{ total }}</h3>
            </div>
        </div>
        <hr>
        <a href="{% url 'cart' %}" class="btn">cart</a>
    </div>
</section>

{% endblock %}

{% block stripe %}
{{ stripe_public_key|json_script:"id_stripe_public_key"}}
{{ client_secret|json_script:"id_client_secret"}}
<script type="text/javascript" src="{% static 'js/stripe_element.js' %}"></script>

{% endblock %}