/* /////////////////////////// Global styles and variables ///////////////////// */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@100;300&display=swap');

:root {
	--background-color: #f8f9fa;
	--background-grey: #efefef;
	--background-gold: #f59c3d;
	--highlight-color: #f9c4ab;
	--text-grey: #5f5f5f;
	--text-logo: #f26657;
	--dark-grey: #ccc;
	--text-color: #494846;
	--border-grey: #e5e6e9;
	--message-error: #b05150;
	--message-success: #47ae74;
	--message-info: #3286e9;
	--border: 1px solid var(--border-grey);
	--font-main: 'Poppins', sans-serif;
	--font-header: 'Abril Fatface', cursive;
	--font-size-form: 1.2rem;
	--font-size-header: 3rem;
}

body {
	background-color: var(--background-color);
	font-family: var(--font-main);
}

body::-webkit-scrollbar {
	display: none;
}

h3 {
	font-weight: 200;
	font-size: 2rem;
	letter-spacing: .3rem;
}

h4 {
	color: var(--highlight-color);
}

#btnCart:hover,
nav > ul > li > a:hover,
p a,
p {
	color: var(--text-grey);
}

/* /////////////////////////// Navigation bar styling ///////////////////// */

nav {
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	background-color: var(--background-grey);
	border-bottom: var(--border);
	box-shadow: none;
}

a {
	color: var(--background-gold);
}

h3 a,
nav a,
nav ul a {
	color: var(--text-grey);
}

a:hover,
h3 a:hover,
p a:hover,
a p:hover {
	color: var(--highlight-color);
}

nav ul a:hover {
	background-color: var(--highlight-color);
}

nav i {
	margin-right: .5rem;
}

label {
	border: none !important;
}

.hover-highlight:hover {
	background-color: var(--background-grey) !important;
	color: var(--highlight-color);
}

.nav-login {
	border-left: var(--border);
	padding-left: 1rem;
	padding-right: 1rem;
}

.nav-logo {
	font-size: 1.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	border-right: var(--border);
}

a .logo,
.logo {
	text-transform: capitalize;
	font-family: var(--font-header);
}

a .logo,
.logo {
	color: var(--text-logo);
}

.nav-list {
	text-transform: uppercase;
}

@media only screen and (max-width: 992px) {
	nav {
		justify-content: space-between;
	}

	.nav-logo {
		font-size: 3rem;
		border-right: none;
		font-weight: 100;
	}
}

@media only screen and (max-width: 600px) {
	.nav-logo {
		font-size: 2rem;
	}
}

/* /////////////////////////// Alert Messages ///////////////////// */

.message {
	position: absolute;
	margin-top: 1rem;
	opacity: 1;
	z-index: 9;
	width: inherit !important;
	max-width: 1270px !important;
}

.alert {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 4rem;
}

.alert-error {
	border: 1px solid var(--message-error);
	color: var(--message-error);
}

.alert-success {
	border: 1px solid var(--message-success);
	color: var(--message-success);
}

.alert-info {
	border: 1px solid var(--message-info);
	color: var(--message-info);
}

.alert-icon-box {
	display: flex;
	width: 10%;
	height: 100%;
	align-items: center;
	justify-content: center;
	color: var(--background-grey);
}

.alert-message {
	font-size: 1.5rem;
	border: none;
}

.alert-close {
	color: inherit;
	font-size: 1.5rem;
	margin-right: 2rem;
}

.error {
	background-color: var(--message-error);
}

.success {
	background-color: var(--message-success);
}

.info {
	background-color: var(--message-info);
}

@media only screen and (min-width: 1333px) {
	.alert-message {
		font-size: 1rem;
	}

	.message {
		width: 40%;
	}
}

/* /////////////////////////// Footer ///////////////////// */

.footer {
	display: flex;
	justify-content: center;
}

.footer-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 33.33%;
	border: var(--border);
	padding: 2rem 0 2rem 1rem;
	font-size: .7rem;
}

footer a {
	color: var(--text-color);
}

footer a:hover {
	color: var(--highlight-color);
}

footer li {
	text-transform: uppercase;
	margin-bottom: .3rem;
}

.footer-bar {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: var(--text-color);
	color: var(--background-color);
}

/* /////////////////////////// Home ///////////////////// */

.home-header {
	height: 60vh;
	width: 100vw;
	background-color: var(--border-grey);
}

.hero {
	padding-top: 20vh;
	display: flex;
	flex-direction: column;
	text-align: right;
}

.hero-text {
	margin: .5rem 0 0 0;
}

/* /////////////////////////// About Us  ///////////////////// */

.about-card {
	margin-top: -4rem;
	border: var(--border);
	background-color: var(--background-gold);
}

.about-text {
	text-align: center;
	margin-bottom: 2rem;
}

.about-links {
	width: 100%;
	height: 10rem;
	display: flex;
}

.info-link {
	border: var(--border);
	border-bottom: none;
	display: flex;
	justify-content: center;
	width: 33.33%;
}

.info-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25%;
}

.fa-info {
	border-radius: 100%;
	border-width: 4px;
	width: 2rem;
	height: 2rem;
	text-align: center;
}

.info-text {
	padding-right: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 75%;
}

/* /////////////////////////// Trending  ///////////////////// */

.trending {
	margin-bottom: 0;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.trending-headline {
	height: 15rem;
	background-color: var(--border-grey);
	background-clip: content-box;
}

.trending-highlight {
	height: 15rem;
	background-color: var(--dark-grey);
	background-clip: content-box;
}

@media only screen and (max-width: 600px) {
	.trending-headline {
		padding-right: 0 !important;
		margin-bottom: 1rem;
	}

	.trending-highlight {
		padding-left: 0 !important;
	}
}

/* /////////////////////////// Card ///////////////////// */

.card .card-image img {
	height: 200px;
}

.card {
	min-height: 400px;
}

.card-action {
	height: 4rem;
}

.card-margin {
	margin: 0 2rem 0 0;
}

/* /////////////////////////// Product View ///////////////////// */

.product-view {
	height: 50vh;
}

.product-image {
	object-fit: contain;
	max-width: 100%;
	max-height: 50%;
	width: auto;
	height: auto;
	box-shadow: 3px 5px var(--border-grey);
}

.product-number {
	display: flex;
	width: 100%;
}

.product-quantity {
	margin-left: 1rem;
	margin-right: 1rem;
}

.product-suggestion {
	margin-right: 2rem;
	max-height: 250px;
}

.suggestion-image {
	max-height: 150px;
}

#product-amount,
#order-amount {
	color: var(--text-color);
	border: var(--border);
	text-align: center;
	font-family: var(--font-main);
}

#order-amount {
	font-size: 1.5rem;
	height: 3rem;
	width: 3rem;
}

#product-amount {
	font-size: 1rem;
	height: 2rem;
	width: 2rem;
}

@media only screen and (max-width: 600px) {
	.product-banner {
		padding-top: 0 !important;
	}

	.product-view {
		height: auto;
	}

	.product-name {
		text-align: center;
		margin: 0;
	}
}

/* /////////////////////////// Buttons ///////////////////// */

.btn,
.btn:focus {
	background-color: transparent;
	color: var(--text-color);
	border: 2px solid var(--highlight-color);
	box-shadow: none;
	height: 40px;
}


.btn:hover {
	background-color: var(--highlight-color);
	box-shadow: none !important;
}

.btn-sm {
	height: 20px;
	width: 20px;
}

.btn-search {
	height: 3rem;
}

.btn-md {
	width: fit-content;
	align-self: center;
}

/* /////////////////////////// Forms ///////////////////// */

.form {
	display: flex;
	flex-direction: column;
	width: 60%;
	max-width: 1175px;
	background-color: var(--background-color);
	border: var(--border);
	padding: 3rem;
	margin: -15vh auto 10vh auto;
}

.input-wrapper {
	display: flex;
}

.form-input {
	width: 5rem;
	margin-right: 2rem;
	margin-bottom: 2rem;
	color: var(--text-color) !important;
	font-family: var(--font-main) !important;
	font-size: var(--font-size-form);
	border: none !important;
}

.search-tags {
	margin-top: 2rem;
	color: var(--highlight-color);
	color: var(--text-color) !important;
	font-family: var(--font-main) !important;
	font-size: var(--font-size-form);
}

.form-image {
	object-fit: cover;
	max-height: 150px;
	max-width: 150px;
}

.required {
	content: "*";
}

#div_id_country > label {
	display: none;
}

#id_tags {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 2rem;
	text-align: left;
}

#id_description {
	margin-top: 2rem;
	height: 200px;
	border: var(--border);
}

select,
input[type=email],
input[type=number],
input[type=text] {
	border-bottom: 1px solid var(--border-grey) !important;
	box-shadow: 0 1px 0 0 var(--border-grey) !important;
}

select:focus,
select:visited,
input:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=text]:focus {
	border-bottom: 1px solid var(--highlight-color) !important;
	box-shadow: 0 1px 0 0 var(--highlight-color) !important;
	color: var(--text-color);
}

input[type="checkbox"] {
	margin-right: 1rem;
	margin-left: 1rem;
}

input[type="checkbox"]:not(:checked) {
	opacity: 1;
	position: relative;
}

input[type="checkbox"]:checked {
	opacity: 1;
	position: relative;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

select,
select option,
select:focus {
	display: flex !important;
	outline: none;
	border: none;
	padding: 0;
	font-family: var(--font-main);
}

select,
select option { 
	color: var(--dark-grey);
}

form .row {
	margin: 0;
}

form div .error {
	background-color: transparent !important;
}

@media only screen and (max-width: 600px) {
	.input-wrapper {
		flex-direction: column;
	}

	.form {
		width: 100%;
	}
}

@media only screen and (max-width: 1100px) {
	.form {
		width: 80%;
	}
}

/* /////////////////////////// Profile ///////////////////// */

.profile {
	align-items: center;
	width: 100%;
}

.profile-image {
	margin-top: 3rem;
	width: 250px;
	border-radius: 50%;
}

.profile-details {
	margin-right: auto;
}

.profile-partner {
	border-top: var(--border);
}

/* /////////////////////////// Partner ///////////////////// */

.partner-social {
	display: flex;
	justify-content: space-around;
}

.partner-image-box {
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.partner-card {
	max-height: 250px !important;
	border: var(--border);
	box-shadow: 3px 5px rgb(0 0 0 / 0.2);
	overflow: hidden;
}

.partner-display {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/* /////////////////////////// Search ///////////////////// */

.search {
	justify-content: flex-end !important;
}

/* /////////////////////////// Allauth ///////////////////// */

.allauth {
	margin-top: -25vh;
	text-align: right;
	color: var(--text-color) !important;
	background-color: var(--background-grey);
	border: var(--border);
}

/* /////////////////////////// Product List ///////////////////// */

.blank-table {
	height: 100%;
}

/* /////////////////////////// Checkout ///////////////////// */
#checkoutForm,
.checkout-form {
}

.checkout-card {
	justify-content: space-evenly !important;
	min-width: 220px;
	max-width: 330px;
	margin-top: 0;
}

.checkout-card h3 {
	font-size: 1rem;
}

.cart-items,
.checkout-items,
.order-items {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.item-amount {
	width: 3rem;
	text-align: end;
}

/* /////////////////////////// Cart ///////////////////// */

.cart {
	margin: 0 2rem 0 0;
}

.cart-item-margin {
	margin: 0 0 1rem 0;
}

.cart-header {
	justify-content: space-between !important;
}

.item-price,
.item-save {
	display: flex;
}

.item-price {
	justify-content: space-between;
}

.item-save {
	border: var(--border);
	align-items: center;
	width: min-content;
	padding: 1rem;
}

.fa-heart,
.fa-times {
	margin: 0 1rem 0 0;
	font-size: 1.5rem;
	cursor: pointer;
}

.fa-times:hover,
.fa-heart {
	color: var(--highlight-color);
}

.fa-times {
	color: var(--text-logo);
}

.item-save p {
	width: max-content;
	margin: 0;
}

.item-quantity {
	display: flex;
}

@media only screen and (max-width: 600px) {
	.cart {
		margin: 1rem 0 0 0 !important;
	}

	.item-price {
		margin-top: 1rem;
	}

	.checkout-card {
		margin-top: 2rem;
	}

	.cart-mobile {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#cart-minus {
		margin: 5px 5px 5px 1.75rem;
	}

	#cart-plus,
	#cart-amount {
		margin: 5px;
	}

	#updateBtn {
		margin-left: 2.5rem;
	}

	.cart-header {
		text-align: center;
		flex-direction: column;
	}
}

/* /////////////////////////// Popup ///////////////////// */

.cart-popup {
	position: absolute;
	opacity: 0;
	right: 1px;
	z-index: -100;
	width: 300px;
}

.card-title {
	text-align: center;
}

.popup-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.popup-details{
	display: flex;
	width: 200px;
	height: 150px; 
}

.popup-product {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 1rem;
}

.popup-qty {
	height: 30px !important;
	margin: 0 !important;
}

/* /////////////////////////// Stripe ///////////////////// */

.StripeElement,
.stripe-style-input {
	box-sizing: border-box;
	height: 40px;
	padding: 10px 12px;
	border: 1px solid transparent;
	border-radius: 0px;
	background-color: white;
	box-shadow: 0 1px 3px 0 #e6ebf1;
	-webkit-transition: box-shadow 150ms ease;
	transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
	box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
	background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
	color: #aab7c4;
}

/* /////////////////////////// Order History ///////////////////// */

.order-history-item {
	justify-content: space-between !important;
}


/* /////////////////////////// Checkout Success ///////////////////// */

.order-item-details {
	width: max-content;
}

.order-total {
	font-weight: 600;
	text-align: end;
}

/* /////////////////////////// Helpers ///////////////////// */

hr {
	background-color: var(--border-grey);
	border-width: 0;
	height: 1px;
	width: 100%;
}

.center {
	display: flex;
	width: 100%;
	background-color: var(--background-color);
	border: var(--border);
	padding: 3rem;
	margin: -10vh auto 10vh auto;
}

.hidden {
	display: none;
}

.product-banner,
.banner {
	display: flex;
	flex-direction: column;
	text-align: right;
	background-color: var(--border-grey);
}

.banner {
	padding-top: 10vh;
	height: 40vh;
}

.product-banner {
	padding-top: 5vh;
	height: 30vh;
}

a .heading {
	font-family: var(--font-header);
}

.border-bottom {
	border-bottom: var(--border);
}

.border-top {
	border-top: var(--border);
}

.no-left-border {
	border-left: none;
}

.no-right-border {
	border-right: none;
}

.margin- {
	margin-top: -10vh;
}

.margin-top {
	margin-top: 2rem;
}

.margin-right {
	margin-right: 2rem;
}

.margin-left {
	margin-left: 2rem;
}

.no-margin {
	margin: 0;
}

.margin-bottom {
	margin-bottom: 2rem;
}

.no-padding {
	padding: none !important;
}

.padding {
	padding: 10px;
}

.padding-left {
	padding-left: .5rem;
}

.padding-bottom {
	padding-bottom: 2rem;
}

.text-center {
	text-align: center;
}

.left-align {
	text-align: left !important;
}

.active {
	border-bottom: 2px solid var(--highlight-color);
}

.column {
	flex-direction: column;
}

.flex-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.full-width {
	width: 100%;
}

.flex {
	display: flex;
}

.fa-twitter {
	color: #1da1f2;
}

.fa-linkedin {
	color: #0077b5;
}

.fa-youtube {
	color: #ff0000;
}

.image-container {
	overflow: hidden;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bold {
	font-weight: 600 !important;
}

.text-left {
	text-align: left;
}

.cart-notification {
	position: absolute;
	top: -10px;
	right: 10px;
	background-color: var(--highlight-color);
	border-radius: 50%;
	color: var(--background-grey);
	height: 1.2rem;
	width: 1.2rem;
	line-height: 1.25rem;
	text-align: center;
	font-size: 1rem;
}

.large {
	height: 1.6rem;
	width: 1.6rem;
	line-height: 1.7rem;
}

.small-text,
.small-icon {
	font-size: 1rem !important;
}

.small-icon,
.small-icon:focus {
	line-height: 20px !important;
	border: 2px solid var(--highlight-color);
	width: 25px;
	cursor: pointer;
}

.highlight {
	color: var(--highlight-color);
}

.btn-hide,
.btn-hide:focus {
	border: none;
	background-color: transparent;
}

.message-margin {
	margin-top: 80px;
}

.black-on-hover:hover {
	color: var(--text-color) !important;
}

.error-alert {
	margin-top: 1rem;
	color: var(--message-error);
	font-size: var(--font-size-form);
}

.no-border {
	border: none !important;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0, 0, .60);
    z-index: 9999;
}

.preloader-wrapper {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 48vh 48vw;
    height: 100%;
}
