{% extends 'base.html' %}
{% block content %}
<div class="container banner">
    <h3>{{ partner.company_name }}</h3>
</div>
<table class="center">
    <tr>
        <th>
            Name
        </th>
        <th>
            Stock
        </th>
        <th>
            Product
        </th>
    </tr>
    {% for product in products %}
        <td>
            {{ product.name }}
        </td>
        <td>
            {{ product.stock_numbers }}
        </td>
        <td>
            <a href="{% url 'view-product' product.id %}" class="btn btn-sm">View</a>
            <a href="{% url 'edit-product' product.id %}" class="btn btn-sm">Edit</a>
            <a href="{% url 'delete-product' product.id %}" class="btn btn-sm">Delete</a>
        </td>
    {% endfor %}
</table>
<div class="container">
    <div class="row">
        <div class="col s6 offset-s3 m8 offset-m2">
            <h3>Add a product to your profile</h3>
            <a href="{% url 'add-product' %}" class="btn">Add Product</a>
        </div>
    </div>
</div>
{% endblock %}