<footer>
    <div class="container footer hide-on-small-and-down">
        <div class="footer-text">
            <h6>
                Contact
            </h6>
            <p>Office: 07715177823 <br>
                Email: <a href="mailto:info@mixed-origin.com">
                     info@mixed-origins.com
                </a>
        
            </p>
            <p><strong>Follow Us</strong><br>
            <a href="https://twitter.com/?lang=en" target="_blank">@mixed-origins</a>
            </p>
        </div>
        <div class="footer-text">
            <h6>
                Customer Service
            </h6>
            <p>Office: 07715177823 <br>
                Email: <a href="mailto:service@mixed-origin.com">
                    service@mixed-origins.com
                </a>
            </p>
        </div>
        <div class="footer-text">
            <h6>
                Links
            </h6>
            <ul>
                <li><a href="{% url 'home' %}">home</a></li>
                <li><a href="{% url 'products' %}">products</a></li>
                <li><a href="{% url 'partners' %}">partners</a></li>
                <li><a href="{% url 'blog' %}">blog</a></li>
                <li><a href="{% url 'about' %}">about us</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bar">
        <p>&copy; Joseph Woodland | {% now 'Y' %} </p>
    </div>
</footer>