<footer>
    <div class="container footer hide-on-small-and-down">
        <div class="footer-text">
            <h6>
                Contact
            </h6>
            <p>Office: 07715177823 <br>
                Email: <a href="mailto:info@mixed-origin.com">
                     info@mixed-origin.com
                </a>
        
            </p>
            <p><strong>Follow Us</strong><br>
            <a href="#">@mixed-origin</a>
            </p>
        </div>
        <div class="footer-text">
            <h6>
                Customer Service
            </h6>
            <p>Office: 07715177823 <br>
                Email: <a href="mailto:service@mixed-origin.com">
                    service@mixed-origin.com
                </a></p>
            <p><a href="#">Returns Policy</a><br>
            <a href="#">Contact Us</a><br>
            </p>
        </div>
        <div class="footer-text">
            <h6>
                Links
            </h6>
            <ul class="">
                <li><a href="#">home</a></li>
                <li><a href="#">products</a></li>
                <li><a href="#">search</a></li>
                <li><a href="#">blog</a></li>
                <li><a href="#">orders</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bar">
        <p>&copy; Joseph Woodland | {% now 'Y' %} </p>
    </div>
</footer>