{% load static %}

<nav>
    <a href="" data-target="mobile-nav" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
    <a href="{% url 'home' %}" class="nav-logo hover-highlight logo">Mixed Origin</a>
    <a href="" class="sidenav-trigger hide-on-med-and-down"><i class="fas fa-bars hidden"></i></a>
    <ul class="hide-on-med-and-down">
        <li><a {% if '/' == request.path %}class="active"{% endif %} href="{% url 'home' %}">home</a></li>
        <li><a {% if '/product/' in request.path %} class="active"{% endif %} href="{% url 'products' %}">products</a></li>
        <li><a {% if '/partners/' in request.path %} class="active"{% endif %} href="{% url 'partners' %}">partners</a></li>
        <li><a {% if '/blog/' in request.path %} class="active"{% endif %} href="#">blog</a></li>
        <li><a {% if '/contact/' in request.path %} class="active"{% endif %} href="#">about us</a></li>
        {% if request.user.is_authenticated %}
            <li><a {% if '/profile/' in request.path %} class="active"{% endif %} href="{% url 'profile' %}">profile</a></li>
        {% endif %} 
        </ul>
        <div class="nav-login">
            {% if request.user.is_authenticated %}
            <a href="{% url 'account_logout' %}" class="margin-right hide-on-med-and-down hover-highlight">Logout
            </a>
            {% else %}
            <a href="{% url 'account_login' %}" class="nav-login hide-on-med-and-down hover-highlight">Login
            </a>
            {% endif %}
            <a href="{% url 'cart' %}" class="hover-highlight"><i class="fas fa-shopping-cart"></i>
            </a>
        </div>
</nav>
    <p id="hiddenCartNumber" class="cart-notification transparent">{{ product_count }}</p>

    {% if product_count == 0 %}
    <p id="cartNotificationFirst" class="cart-notification transparent">0</p>
    {% elif product_count < 10 %}
        <p id="cartNotificationSeen" class="cart-notification">{{ product_count }}</p>
    {% else %}
        <p id="cartNotificationSeen" class="cart-notification large">{{ product_count }}</p>
{% endif %}
<ul class="nav-list sidenav" id="mobile-nav">
    <li><a href=""><i class="fas fa-chevron-left"></i></a></li>
    <li><a {% if '/' == request.path %} class="active"{% endif %} href="{% url 'home' %}">home</a></li>
    <li><a {% if '/product/' in request.path %} class="active"{% endif %} href="{% url 'products' %}">products</a></li>
    <li><a {% if '/partners/' in request.path %} class="active"{% endif %} href="{% url 'partners' %}">partners</a></li>
    <li><a {% if '/blog/' in request.path %} class="active"{% endif %} href="#">blog</a></li>
    <li><a {% if '/contact/' in request.path %} class="active"{% endif %} href="#">contact us</a></li>
    {% if request.user.is_authenticated %}
        <li><a {% if '/profile/' in request.path %}class="active"{% endif %} href="{% url 'profile' %}">profile</a></li>
    {% endif %}
    <li>
        {% if request.user.is_authenticated %}
            <a href="{% url 'account_logout' %}" class="nav-login">Logout
            </a>
        {% else %}
            <a href="{% url 'account_login' %}" class="nav-login">Login
            </a>
        {% endif %}
    </li>
</ul>

  