{% load mathfilters %}

<div id="popup" class="row cart-popup">
  <div id="hiddenTotal" class="hidden">{{ grand_total }}</div>
      <div class="card no-margin">
        <div class="popup-content">
          <span class="card-title">Added to Cart</span>
          <div class="popup-item">
            <h3 class="small-text no-margin">
                {{ product.name }}
            </h3>
            <div class="popup-details">
              <div class="image-container">
                  <img width="150" src="{{ product.image.url }}" alt="Image for {{ product.name }}">
              </div>
              <div class="popup-product">
                <h3 class="small-text flex-wrapper popup-qty">
                    Qty: <span id="itemQuantity" class="small-text margin-left bold"></span> 
                </h3>
                <h3 class="small-text bold">
                    £{{ product.price }}
                </h3>
              </div>
            </div>
            <div class="flex-wrapper column">
              <h3 class="small-text">
                  Adding £
                  <strong id="productTotal"></strong>
                  to the cart.
              
              </h3>
              <h3 class="small-text">
                Cart Total: 
                £<strong  id="cartTotal"></strong>
              </h3>
            </div>
          </div>
          <div class="card-action flex-wrapper">
            {% if '/cart/' in request.path %}
            {% else %}
            <a href="{% url 'cart'  %}" id="btnCart" class="btn margin-right">cart</a>
            {% endif %}
          </div>
        </div>
    </div>
  </div>