{% load static %}
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="#!" data-target="dropdown1" class="dropdown-trigger" >Products<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="#">Search</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Orders</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
</nav>