{% load static %}

<nav>
    <a href="" data-target="mobile-nav" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
    <a href="" class="nav-logo">Mixed Origin</a>
    <!-- Hidden div so I can center the logo and left align the nav bars -->
    <a href="" class="sidenav-trigger"><i class="fas fa-bars hidden"></i></a>
    <ul class="hide-on-med-and-down">
        <li><a href="#">home</a></li>
        <li><a href="#">products</a></li>
        <li><a href="#">search</a></li>
        <li><a href="#">blog</a></li>
        <li><a href="#">orders</a></li>
        <li><a href="#">contact us</a></li>
    </ul>
    <a href="" class="hide-on-med-and-down nav-login"><i class="fas fa-sign-in-alt"></i>Login/Register
    </a>
</nav>

<ul class="nav-list sidenav" id="mobile-nav">
    <li><a href="#"><i class="fas fa-chevron-left"></i></a></li>
    <li><a href="#">home</a></li>
    <li><a href="#">products</a></li>
    <li><a href="#">search</a></li>
    <li><a href="#">blog</a></li>
    <li><a href="#">orders</a></li>
    <li><a href="#">contact us</a></li>
    <li>
        <a href="" class="nav-login"><i class="fas fa-sign-in-alt"></i>Login/Register
        </a>
    </li>
</ul>

  