{% extends 'base.html' %}
{% load static %}
{% block content %}

<header class="home-header">
    <div class="container hero">
        <h3 class="hero-text">Started in 2022</h3>
        <h1 class="hero-text">Mixed Origin</h1>
        <p class="hero-text">Strap-line</p>
    </div>
</header>

<div class="container">

<div class="about-card">
    <div class="about-text">
        <h2 class="heading" >About Us</h2>
        <h5>Mixed Origin</h5>
        <p>This is where some user content can be about the product</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quidem consequatur hic a eos illum quos? Maiores dolore hic ducimus iste nobis dolores incidunt laborum quo, ullam alias deleniti esse.</p>
        <a href="" class="btn waves-effect black">Read More</a>
    </div>
    <div class="about-links">
        <div class="info-link no-left-border">
            <div class="info-icon">
                <i class="fas fa-info fa-border"></i>
            </div>
            <div class="info-text">
                <h5 class="no-margin">
                    Free Shipping
                </h5>
                <p class="no-margin">
                    Free shipping for orders over £100
                </p>
            </div>
        </div>
        <div class="info-link">
            <div class="info-icon">
                <i class="fas fa-info fa-border"></i>
            </div>
            <div class="info-text">
                <h5 class="no-margin">
                    Gift Cards
                </h5>
                <p class="no-margin">
                    The perfect gift.
                </p>
            </div>
        </div>
        <div class="info-link no-right-border">
            <div class="info-icon">
                <i class="fas fa-info fa-border"></i>
            </div>
            <div class="info-text">
                <h5 class="no-margin">
                    Friendly Support
                </h5>
                <p class="no-margin">
                    All support is given in house
                </p>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
