{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="products-header">
    <div class="container banner edit-product-banner">
        <h1 class="hero-text">{{ partner.company_name }}</h3>
        <h3 class="hero-text">Add products to your store</h3>
    </div>
</header>
<section class="container">
    <form  method="POST" class="form col s12 m8"  enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <div class="input-wrapper">
        <label class="form-input">{{ field.label }}</label>
        {{ field }}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-md">Add Product</button>
    </form>
</section>
{% endblock %}