{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="products-header">
    <div class="container banner">
        <h3 class="hero-text">{{ product.name }}</h3>
    </div>
</header>
<section class="container">
    <form action="" method="POST" class="form col s10 m8"  enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <div class="input-wrapper">
        <label for="form-input" class="form-input">{{ field.label }}</label>
        {{ field }}
    </div>
    {% endfor %}
    <button type="submit" class="btn">Edit</button>
    </form>
</section>
{% endblock %}