{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="products-header">
    <div class="container banner edit-product-banner">
        <h1 class="hero-text">{{ product.name }}</h1>
    </div>
</header>
<section class="container">
    <form  method="POST" class="form col s12 m8"  enctype="multipart/form-data">
    {% csrf_token %}
    <img src="{{ product.image.url }}.webp" onerror="this.src='{{ product.image.url }}'" alt="Image for {{ product.name}}" class="form-image">
    <div class="input-wrapper margin-top">
        <label class="form-input">Image</label>
        <input type="file" name="image" accept="image/*" id="id_image">
    </div>
    {% for field in form %}
        {% if field.label == "Image" %}
        {% else%}
            <div class="input-wrapper">
                <label class="form-input">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endif %}
    {% endfor %}
    <div class="flex-wrapper">
        <button type="submit" class="btn margin-right">confirm</button>
        <a href="{% url 'delete-product' product.id %}" class="btn">Delete</a>
    </div>
    </form>
</section>
{% endblock %}