{% extends 'base.html' %}
{% block content %}
<header class="container product-banner">
    <h1>Products</h1>
    <div class="flex-wrapper search">
        <form id="searchForm" action="" method="GET" class="">

                <!-- <label for="search_query">Search By Products</label> -->
                <input class="input input--text" id="search_query" type="text" name="search_query"
                value="{{ search_query }}" placeholder="Search by Product" />

            <input class="btn" type="submit" value="Search" />
        </form>
    </div>
</header>
<section class="container">
    <div class="row">
        <div class="col s8 offset-s2 m6 offset-m3 text-center">
            <h3 class="border-bottom padding-bottom">Most Wanted</h3>
        </div>
    </div>
    <div class="row margin-top">
    {% for product in products %}
        <div class="col s12 m6 l4 xl3">
            <a href="{% url 'view-product' product.id %}">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ product.image.url }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title">{{ product.name|truncatechars:17 }}</span>
                    </div>
                    <div class="card-action">
                        <a href="#">Order</a>
                        <span class="card-price">£{{ product.price }}</span>
                </div>
            </a>
        </div> 
    </div>
    {% endfor %}
</section>
{% endblock %}