{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'includes/popup.html' %}
<header class="container product-banner">
    <h3 class="heading" >{{ product.owner.company_name }}</h3>
    <h3 class="product-name">{{ product.name }}</h3>
</header>
<section class="container">
    <div class="row product-view">
        <div class="col s12 m7 flex-wrapper">
            <div class="image-container">
                <img height="300" src="{{ product.image.url }}" alt="Image for {{ product.name }}">
            </div>
        </div>
        <div class="col s12 m5 flex-wrapper column">
                <h4>£<strong id="productPrice">
                    {{ product.price }}</strong></h4>
            <p>{{ product.description }}</p>
            <div class="row product-number">
                {% if product.stock_numbers > 0 %}
                <form id="form" action="{% url 'add-to-cart' product.id %}" method="POST" class="flex-wrapper column full-width">
                    {% csrf_token %}
                    <div class="row">
                        <button class="btn product-quantity" id="btn-minus"><i class="fas fa-minus"></i></button>
                        <input class="number-input" id="order-amount" name="order-amount" type="number" value="1" min="1" max="{{ product.stock_numbers }}">
                        <button class="btn product-quantity" id="btn-plus"><i class="fas fa-plus"></i></button>
                    </div>
                    <p id="amount-alert" class="hidden no-margin">Only {{ product.stock_numbers }} in stock</p>
                    <input id="hiddenUrl" type="hidden" name="redirect_url" value="{{ request.path }}" class="hidden">
                    <button id="addToCart" type="submit" class="btn">Add to cart</button>
                </form>
                {% else %}
                <h3>This product is currently out of stock!</h3>
                {% endif %}
            </div>
        </div>
    </div>
    {% if partner_profile.id == product.owner.id %}
    <div class="flex-wrapper">
        <h3>Click here to edit</h3>
        <a href="{% url 'edit-product' product.id %}" class="btn btn-md margin-left">Edit</a>
    </div>
    {% endif %}
    <div class="row">
        <h3>You may also like...</h3>
    </div>
    <div class="row product-sugestion hide-on-med-and-down">
        {% for product in products %}
            <div class="col s10 offset-s1 m6 l4 xl3">
                <a href="{% url 'view-product' product.id %}">
                    <div class="card">
                        <div class="image-container">
                            <img src="{{ product.image.url }}" alt="Thumbnail image for {{ product.name }}" height="200px">
                        </div>
                        <div class="card-content">
                            <span class="card-title">{{ product.name|truncatechars:17 }}</span>
                        </div>
                        <div class="card-action">
                            <a href="#">Order</a>
                            <span class="card-price">£{{ product.price }}</span>
                    </div>
                </a>
            </div> 
        </div>
        {% endfor %}
        <a href="#">View more...</a>
    </div>
    <a href="#" class="hide-on-med-and-up">View more...</a>

</section>
{% endblock %}