{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'includes/popup.html' %}
<header class="container product-view-banner banner">
    <h1 class="heading color-white" >{{ product.owner.company_name }}</h1>

</header>
<section class="container">
    <div class="row product-view">
        <div class="col s12 m7 flex-wrapper column">
            <div class="card-image">
                <img height="300" src="{{ product.image.url }}.webp" alt="Image for {{ product.name }}">
            </div>
            {% if partner_profile.id == product.owner.id %}
                <div class="flex-wrapper">
                    <h3>Click here to edit</h3>
                    <a href="{% url 'edit-product' product.id %}" class="btn btn-md margin-left">Edit</a>
                </div>
            {% endif %}
        </div>
        <div class="col s12 m5 product-order">
            <h3 class="product-name">{{ product.name }}</h3>
            <h4>£<strong id="productPrice">{{ product.price }}</strong></h4>
            
            <div class="row product-number">
                {% if product.stock_numbers > 0 %}
                <form id="form" action="{% url 'add-to-cart' product.id %}" method="POST" class="flex-wrapper column full-width">
                    {% csrf_token %}
                    <div class="row full-width margin-bottom">
                        <button class="product-quantity" id="btn-minus"><i class="fas fa-minus"></i></button>
                        <input class="number-input" id="order-amount" name="order-amount" type="number" value="1" min="1" max="{{ product.stock_numbers }}">
                        <button class="product-quantity" id="btn-plus"><i class="fas fa-plus"></i></button>
                    </div>
                    <p id="amount-alert" class="hidden no-margin margin-top">Only {{ product.stock_numbers }} in stock</p>
                    <input id="hiddenUrl" type="hidden" name="redirect_url" value="{{ request.path }}" class="hidden">
                    <button id="addToCart" type="submit" class="btn full-width margin-top">Add to cart</button>
                </form>
                {% else %}
                <h3>This product is currently out of stock!</h3>
                {% endif %}
            </div>
            <h3 class="small-text bold">DETAILS</h3>
            <p>{{ product.description }}</p>
        </div>
    </div>
    
    <div class="row">
        <h3>You may also like...</h3>
    </div>
</section>
<section class="product-suggestion">
    <div class="row margin-top hide-on-med-and-down">
        <div class="container">
            {% for product in products %}
                <div class="col s10 offset-s1 m6 l4 xl3">
                    <a href="{% url 'view-product' product.slug %}">
                        <div class="card no-shadow">
                            <div class="card-image">
                                <img src="{{ product.image.url }}.webp" alt="Thumbnail image for {{ product.name }}">
                            </div>
                            <div class="card-content">
                                <span class="card-title">{{ product.name|truncatechars:17 }}</span>
                            </div>
                            <div class="card-action">
                                <span class="card-price bold">£ <span id="productPrice">
                                    {{ product.price }}
                                </span>
                                </span>
                                <a href="{% url 'view-product' product.slug %}" class="btn" id="orderItem">View Product</a>    
                            </div>
                        </div>
                    </a>
                </div> 
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}